{% extends "base.html" %} 
{% load static %} 
{% load article_tags %} 
{% block title %}article detail{% endblock %} 
{% block content %}
{% with total_likes=article.user_like.count users_like=article.user_like.all %}
<!-- 分成左右2列 第一列 -->
<div class="container">
	<div class="col-md-9" >
	<!--  总点赞数 总用户列表 -->
	<link rel="stylesheet"
		href="{% static 'editor/css/editormd.preview.css' %}" />
	<div>
		<header>
			<h1>{{article.title}}</h1>
			<p><a href="{% url 'article:article_titles_author' article.author.username %}">{{article.author}}</a></p>
		</header>
		<div>
			<p>contents:</p>
		</div>
		<div id='editormd-view'>
			<textarea id="append-test" style="display: none;">{{article.body}}</textarea>
		</div>
	</div>
	<!-- 点赞功能 -->
	<div>
		<p class="text-center">
		<a onclick="like_artile({{article.id}},'like')" href="#">
			<span class="glyphicon glyphicon-thumbs-up">&nbsp{{total_likes}}like{{total_likes|pluralize}}&nbsp</span>
		</a>
		<span sytle="margin-left:20px">
			{{total_views}}view{{total_views | pluralize}}&nbsp <!-- 复数变成likes -->
		</span>
		<a onclick="like_artile({{article.id}},'unlike')" href="#">
			<span class="glyphicon glyphicon-thumbs-down">&nbspunlike</span>
		</a>
		</p>
	</div>
	<div>
		<p class="text-center"><strong>who like this article</strong></p>
		{% for user in users_like %}
		<p class="text-center">{{user.username}}</p>
		{% empty %}
		<p class="text-center">has no like yet</p>
		{% endfor %}
		<!-- 显示标签 -->
		<p><span style="margin-right:10px"><string>Tags:</string></span>
		{{article.article_tag.all|join:","}}
		</p>
	</div>
	<!--  评论发表部分 -->
	<hr>
	<div>  
		<h3><span class="glyphicon glyphicon-bullhorn"></span>there is {{comments.count}} comments</h3>
		{% for comment in article.comments.all %}
		<div>
			<p><string>{{comment.commentator}}</string>Said:</p>
			<p style="margin-left:40px;">{{comment.body}}</p>
		</div>
		{% empty %}
		<p> no comments yet </p>
		{% endfor %}
		<h3><span class="glyphicon glyphicon-send"></span>give a comment</h3> 
		<form action="." method="POST" class="form-horizontal" role="form>">{% csrf_token %}
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">commentator:</label>
				<div class="col-sm-10">
					{{ comment_form.commentator}}
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">comments</label>
				<div class = "col-sm-10">
					{{ comment_form.body }}
				</div>
			
			</div>
			<div class="form-group">
				
				<div class = "col-sm-offset-10 col-sm-10">
					<!-- <p><button onclick="artile_comment({{article.id}});" value="Comment" class="btn btn-primary btn-lg"></p> -->
					
					<button class="btn btn-primary btn-lg" onclick="artile_comment({{article.id}});" >Comment</button>
					<!--  <input type="button" class="btn btn-primary btn-lg" value="comment" onclick="artile_comment({{article.id}});">-->
				</div>
			
			</div>
		</form>
	</div>
	<div>
		<p>
			<a href="{% url 'article:article_titles' %}">return to list</a>
		</p>
	</div>
	</div>
	<!-- 分成左右2列 第二列 浏览最多的受欢迎文章 -->
	<div class="col-md-3" >
	<p class="text-center"><h3>Hot Article list</h3></p>
	<ol>
	{% for article_rank in most_viewed %}
	<li>
		<a href="{{article_rank.get_url_path}}">{{article_rank.title}}</a>
	
	</li>
	{% endfor %}
	</ol>
	<!--  最新文章 -->
	<p class="text-center"><h3>Latest Article list</h3></p>
	{% latest_articles 4 %} <!-- 参数4 ,显示前4条 -->
	<hr>
	<!-- 最多评论文章 -->
	<p class="text-center"><h3>Most Commented Articles</h3></p>
	{% most_commented_articles as most_comments %}<!-- 标签函数名most_commented_articles -->
	<ul>
	{% for most_article in most_comments %}
	<li>
		<a href="{{most_article.get_titles_url}}">{{most_article.title}}</a>
	</li>
	{% endfor %}	
	</ul>
	
	<!-- 最多相同标签文章 -->
	<hr>
	<p class="text-center"><h3>Most Similar Articles</h3></p>
	
	<ul>
	{% for similar_article in similar_articles %}
	<li>
		<a href="{{similar_article.get_titles_url}}">{{similar_article.title}}</a>
	</li>
	{% endfor %}	
	</ul>
	</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'editor/editormd.min.js' %}"></script>
<script src="{% static 'editor/lib/marked.min.js' %}"></script>
<script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'editor/lib/raphael.min.js' %}"></script>
<script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editor/lib/underscore.min.js' %}"></script>
<script type="text/javascript">
	$(function() {
		editormd.markdownToHTML("editormd-view", {
			htmlDecode : "style,script.iframe", //can filter tags decode
			emoji : true,
			taskList : true,
			tex : true,//默认不解析
			flowChart : true,//默认不解析
			sequenceDiagram : true, //默认不解析

		});
	});
	function like_artile(article_id,action){
		//编辑图标的父类tr,下面第一个td的text 得到name
	
		//调用ajax异步提交
		$.ajax({
			url:'{% url "article:article_like"%}',
			type:'POST',
			data:{"id":article_id,"action":action},
			success:function(e){
				if(e=='1'){
					//发布成功后 自画面迁移
					//parent.location.reload();
					layer.msg("thnks for your like ");
					window.location.reload();
				}else if(e=='2'){
					//db error
					layer.msg("wish you like another aritle");
					window.location.reload();
				}else{
					layer.msg(e);
				}
			},//success 函数
		}); //ajax完了
	};//function 完了
	
	function artile_comment(article_id){
		//编辑图标的父类tr,下面第一个td的text 得到name
		var commentator = $('#id_commentator').val()
		var body = $('#id_body').val()
		//调用ajax异步提交
		$.ajax({
			url:'{% url "article:article_comment"%}',
			type:'POST',
			data:{"commentator":commentator,"body":body,"article_id":article_id},
			success:function(e){
				if(e=='1'){
					//发布成功后 自画面迁移
					//parent.location.reload();
					layer.msg("thnks for your like ");
					window.location.reload();
				}else if(e=='2'){
					//db error
					layer.msg("wish you like another aritle");
					window.location.reload();
				}else{
					layer.msg(e);
				}
			},//success 函数
		}); //ajax完了
	};//function 完了	
	
	
</script>
{% endwith %}
{% endblock %}
