{% extends "base.html" %} 
{% load article_tags %} <!-- 装载自定义标签库,名字和templatetags文件夹下文件名相同 -->
{% load static %} 
{% block title %}article list{% endblock %} 
{% block content %}
<div class="row text-center vertial-middle-sm">
	{% if authorname %}
	<h1>All article of {{authorname}}</h1>
	{% else %}
	<h1>welcome,find your interest</h1>
	{% endif %}
	<p>there are {% total_articles %} articles for your read</p>
</div>
<div class="container">
	{% for article in articles %}
	<div class="list-group">
		<a href="{{article.get_titles_url}}" class="list-group-item active">
			<h4 class="list-group-item-heading">{{article.title}}</h4></a>
			<p class="list-group-item-text"><a href="{% url 'article:article_titles_author' article.author.username %}">Author:{{article.author.username}}</a></p>
			<!-- linebreaks的作用是允许原文中的换行HTML标记符继续产生效用 ,管道符后使用slice切割字符数 -->
			<p class="list-group-item-text">brief:{{article.body|slice:'70'|linebreaks}}</p>
		

	</div>
	{% endfor %} {% include "paginator.html" %}
</div>

{% endblock %}
