{% extends "base.html" %} 
{% load static %}
{% load article_tags %}
{% block title %}article list{% endblock %} 
{% block content %}

<div class="row text-center vertial-middle-sm">
	<h1>all aritcles of {{authorname}}</h1>
</div>
<div class="container">
<div class="col-md-8" >
	{% for article in articles %}
	<div class="list-group">
		<a href="{{article.get_titles_url}}" class="list-group-item active">
			<h4 class="list-group-item-heading">{{article.title}}</h4>
			<p class="list-group-item-text">Author:{{article.author.username}}</p>
			<!-- linebreaks的作用是允许原文中的换行HTML标记符继续产生效用 ,管道符后使用slice切割字符数 -->
			<p class="list-group-item-text">brief:{{article.body|slice:'70'|linebreaks}}</p>
		</a>

	</div>
	{% endfor %} {% include "paginator.html" %}
</div>	

<!--  下面是用户userinfo信息 -->
	<div class= "col-md-4">
		<div>
			{% if userinfo.photo %}
			<img src="{{ userinfo.photo | striptags }}" class="img-circle" id="my_photo" name="user_face">
			{% else %}
			<img src="{% static 'images/yalishiduode1.jpg' %}" class="img-circle" id="my_photo" name="user_face">
			{% endif %}
			
		</div>
		<div>
			<h2> About Author: </h2>
			<p>Author:{{ authorname}}</p>
			<p>has posted {% author_total_articles authorname %} articles</p>
			{% if userinfo and userinfo.aboutme %}
			<p>{{userinfo.aboutme}}</p>
			{% else %}
			<p> there is no info about author </p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
