<!DOCTYPE html>
<html lang='zh-cn'>
<!-- 基础模板html -->
<head>
	<meta http-equiv="X-UA-Compatible" content = "IE=Edge">
	<meta charset="utf-8">
	<meta name="viewport" content="widht=device-width,initial-scale=1">
	<title>{% block title%}{%endblock%}</title><!-- title块标签 -->
	<!-- 引入样式表文件 -->
	<link rel="stylesheet" href="http://necolas.github.io/normalize.css/">
	<link rel="stylesheet" href ="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container"> <!-- 容器类 -->
		{% block content %}<!-- content块标签 -->
		{% endblock %}
	
	</div>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src ="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>	


</html>