{% extends "base.html" %}
{% block title %}password reset{% endblock %} <!-- IE 标题栏内容 -->
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>Reset Password</h1> <!-- 网页内标题 -->
	<p> forgot you password, you can reset it.</p>
	
	<form class="form-horizontal" action="." method="POST">{% csrf_token %}
		<div class="form-group">
			<label class = "col-md-5 control-label text-right">
				Email
			</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{form.email}}</div>
		</div>
		
		<!-- Bootstrap的样式 -->
		<input type ="submit" class="btn btn-primary btn-lg" value="send email">
	</form>
</div>
{% endblock %}