{% load static %} <!-- 申明需要引入静态文件后面才能使用 -->
<div class="contaner">
	<nav class='navbar-brand' role="navigation>">
		<div class='navbar-header'>	
	 		<a href="/">
	 			<img src="{% static '/images/logo.jpeg' %}" width="100px"><!-- 引入图片路径,相对static开始 -->
	 		</a>
	 	</div>
	 	<div>
	 		<ul class="nav navbar-nav  navbar-left" role="navigation">
	 			<li><a href="{% url 'blog:blog_title' %}">BLOG</a></li><!-- 使用url.py定义路径 -->
	 		</ul>
	 		<ul class = "nav navbar-nav navbar-right">
	 			<li><a href="#">LOGIN</a></li>
	 		</ul>
	 	</div>
	 </nav>
</div>