
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>images</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	

</head>
<body>
	<div class="container">
		<!--  网页上部 -->
		
<div class="container">
	<nav class="navbar navbar-default" role = "navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img width="100px" src="/static/images/logo.jpeg">
			
			</a>		
		</div>
		<div>
			<ul class="nav navbar-nav" role="tablist">
				<li><a href="/article/article_column">Article Manage</a></li>
			
			</ul>
			<ul class="nav navbar-nav navbar-right" style="margin-right:10px">
				<li><a href="/">Main Page</a></li>
				<li><a href="/account/my_information/">rappleboy</a></li>
				<li><a href="/account/logout/">Logout</a></li>
			</ul>

		
		</div>
	
	
	</nav>
</div>
		<div class="col-md-2">
		<!-- 左边栏 -->
		<div class="bg-info">
	<div class="text-center" style="margin-top:5px;">
		<p><a href="/article/article_column">Article Column</a></p>
		<p><a href="/article/article_tag">Article Tag</a></p>
		<p><a href="/article/article_post">Post Article</a></p>
		<p><a href="/article/article_list">Article List</a></p>
		<p><a href="/saveimage/list_images/">Image List</a></p>
	</div>

</div>
		</div>
		<!-- 内容部 -->
		<div class="col-md-10">
		<!--  这里显示msg -->
		
		
<div>
	<button type="button" class="btn btn-primary btn-lg btn-block" onclick="addImage()">Add a Image</button>
	<div style="margin-top:10px;">
		<table class="table table-hover">
			<tr>
				<td>No.</td>
				<td>Title</td>
				<td>image</td>
				<td>manage</td>
			</tr>
			
			<tr>
				<td>1</td>
				<td>boy</td>
				<td>images/2024/0126/boy_My8ZPoF.jpg</td>
				<td>
				<a name='delete' href="javascript:" onclick="del_image(this,1)">
					<span class="glyphicon glyphiicon-trash" style="margin-left:20px;"></span>
				</a>
				</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>shuimu</td>
				<td>images/2024/0126/shuimu.jpg</td>
				<td>
				<a name='delete' href="javascript:" onclick="del_image(this,2)">
					<span class="glyphicon glyphiicon-trash" style="margin-left:20px;"></span>
				</a>
				</td>
			</tr>
			
		</table>	

</div>
<script src="/static/js/jquery.js" ></script>
<script src="/static/js/layer.js" ></script>
<script type="text/javascript">
function addImage(){
	var index=layer.open({
		type:1,
		skin: 'alyui-layer-demo',
		closeBtn:0,
		shift:2,
		shadeClose:true,
		title:'Add a Image',
		area:['600px','440px'],
		content:"<div style='padding:20px'><p>please input .jpg or .png url</p><form><div class='form-group'><label for='phototitle' class='col-sm-2 control-label'>title</label><div class='col-sm-10'><input id='phototitle' type='text' class='form-control' style='margin-bottom:5px'></div></div><div class='form-group'><label for='photourl' class='col-sm-2 control-label'>URL</label><div class='col-sm-10'><input id='photourl' style='margin-bottom:5px' type='text' class='form-control'></div></div><div class='form-group'><label for='description' class='col-sm-2 control-label'>Description</label><div class='col-sm-10'><textarea class='form-control' style='margin-bottom:5px' rows='2' id='photodescription'></textarea></div></div><div class='form-group'><div class='col-sm-offset-2 col-sm-10'><input id='newphoto' type='button' class='btn btn-default' value='add it'></div></div></form><div>",
		success:function(){
			$("#newphoto").on('click',function(){
				var title=$("#phototitle").val();
				var url=$("#photourl").val();
				var description=$("#photodescription").val();
				var photo = {"title":title,"url":url,"description":description};//字典类
				$.ajax({
					url:'/saveimage/upload_image/',
					type:"POST",
					data:photo,
					success:function(e){//返回的e是个json response
						var status = e['status'];
						
						if(status == '0'){
							layer.close(index);
							window.location.reload();
							
						} else {
							var error = e['error'];
							//alert(error);
							layer.msg("save failed, reason:"+error);
						}
					},//function
				});//ajax
			});  //on function
		},
	}); //var index=layer.open({
	
}//addimage

</script>

		</div>
		<!-- footer 相对根路径 -->
		
<div class="container">

	<hr>
	<p class="text-center">copy right tatanic</p>
</div>
	</div>


</body>

</html>