<div class="bg-info">
	<div class="text-center" style="margin-top:5px;">
		<p><a href="{% url 'article:article_column' %}">Article Column</a></p>
		<p><a href="{% url 'article:article_tag' %}">Article Tag</a></p>
		<p><a href="{% url 'article:article_post' %}">Post Article</a></p>
		<p><a href="{% url 'article:article_list' %}">Article List</a></p>
		<p><a href="{% url 'saveimage:list_images' %}">Image List</a></p>
		<p><a href="{% url 'course:manage_course' %}">Course List</a></p>
		<p><a href="{% url 'course:create_lesson' %}">create lesson</a></p>

	</div>

</div>