{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	

</head>
<body>
	<div class="container">
		<!--  网页上部 -->
		{% include 'article/header.html' %}
		<div class="col-md-2">
		<!-- 左边栏 -->
		{% include 'article/leftslider.html' %}
		</div>
		<!-- 内容部 -->
		<div class="col-md-10">
		<!--  这里显示msg -->
		{% if msg %}
		<p>{{msg}}</p>
		{% endif %}
		{% block content %}
		{% endblock %}
		</div>
		<!-- footer 相对根路径 -->
		{% include 'footer.html' %}
	</div>


</body>

</html>