{% extends 'article/base.html' %}
{% load static %}

{% block title %}Manage Course{% endblock %}
{% block content %}
<div>
	<div class='text-right'>
		<a href="{% url 'course:create_course' %}">
		<button type='button' class='btn btn-primary'>Add Course</button>
		</a>
	</div>	
	<table class='table table-hover'>
		<tr>
			<td>No.</td>
			<td>Course</td>
			<td>StartDate</td>
			<td>Manage</td>			
		
		</tr>
		{% for course in courses %}
		<tr id = {{forloop.counter}}>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'course:list_lessons' course.id %}">{{course.title}}</a></td>
			<td>{{course.created|date:'Y-m-d'}}</td>
			<td>
				<a name='edit' href='#'><span class='glyphicon glyphicon-pencil'></span></a>
				<a class='delete' name='delete' href="{% url 'course:delete_course' course.id %}"><span class='glyphicon glyphicon-trash'></span></a>
		</tr>
		{% empty %}
		<p> There is no any course yet </p>
		{% endfor %}
	</table>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
function getCookie(name){
	var cookieValue=null;
	if(document.cookie && document.cookie !=''){
		var cookies = document.cookie.split(';');
		for (var i =0;i<cookies.length;i++){
			var cookie= jQuery.trim(cookies[i]);
			if(cookie.substring(0,name.length+1)==(name+'=')){ //取得每个cookie的前几个字符串是否是对象
				//找到key以后,取name=之后的字符串,并且解码
				cookieValue = decodeURIComponent(cookie.substring(name.length +1));
				break;
				
			}
		}
	}
	return cookieValue;
}
$(document).ready(function(){
	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method){
		return (/^(GET|HEAD|OPTIONS|GRACE)$/.test(method));
	}
	$.ajaxSetup({
		crossDomain:false,
		beforeSend:function(xhr,settings){
			if(!csrfSafeMethod(settings.type)){
				xhr.setRequestHeader("X-CSRFToken",csrftoken);
			}
		}
	});
	var onDelete = function(){
		alert("delete it?");
		
		//调用post,参数href, 接受函数 {"result":"ok"}
		$.post(this.href,function(data){
			if(data.result=="ok"){
				window.location.reload();
			} else {
				alert("sth wrong");
			}
		}).fail(function(){
			alert("error");
		});
		return false;
	}
	$(".delete").click(onDelete);
})

</script>
{% endblock %}