{% extends "base.html" %} <!-- 继承base.html 里面有header footer -->
{% block title %} login {% endblock %} <!-- 填入base中header部分的title块 -->
{% block content %} <!-- 定义block content的内容,在base模板中插入 -->
<div class="row text-center vertical-middle-sm">
<h1>Login</h1>
<p>{{message}}</p>
<p>{{errors}}</p>
<p>Input your username and password</p>
<!--  action = ".'表示提交post 当前路径 -->
<form class="form-horizontal" action="/account/login/" method ="post">{% csrf_token %} <!-- cross site request forgery 跨站请求伪造 input type="hidden"  -->
	<!--  {{ form.as_p }}--> <!-- 使用form表单的as_p方法 ,生成一行<p>代码 -->
	<div class = "form-group">
		<label for="{{form.username.id_for_label}}" class="col-md-5 control-lable" style="color:red">
			<span class="glyphicon glyphicon-user"></span>
			Username
		</label>
		<div class="col-md-6 text-left">
			{{form.username}}
		</div>
	</div>
	<div class = "form-group">
		<label for="{{form.password.id_for_label}}" class="col-md-5 control-lable" style="color:blue">
			<span class="glyphicon-floppy-open"></span>
			Password
		</label>
		<div class="col-md-6 text-left">
			{{form.password}}
		</div>
	</div>
	<!-- Bootstrap的样式 -->
	<input type ="submit" class="btn btn-primary btn-lg" value="login">
</form>
<p style="margin-top:10px">忘记了密码? <a href='{% url "password_reset:password_reset_recover" %}'>这里</a>重置密码</p>
<p style="margin-top:10px">还没有注册吗?<a href='{% url "account:user_register" %}'>这里注册</a></p>
</div>

{% endblock %}