{% extends "base.html" %}
{% load static %}
{% block title %}register user{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
<h1>Register User</h1>
<p>{{message}}</p>
<p>{{errors}}</p>
<p>if you are a signed user, <string><a href="{% url 'account:user_login' %}">Login</a></string>,please</p>
<p> or register.</p>
	<form class="form-horizontal" action="." method="post">{% csrf_token %}
		<div class="form-group">
			<label for="{{ form.username.id_for_label}}" class = "col-md-5 control-label">Username</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{form.username}}</div>
		</div>
		<div class="form-group">
			<label for="{{ form.email.id_for_label}}" class = "col-md-5 control-label">email</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{form.email}}</div>
		</div>
		<div class="form-group">
			<label for="{{ form.password.id_for_label}}" class = "col-md-5 control-label">password</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{form.password}}</div>
		</div>
		<div class="form-group">
			<label for="{{ form.password2.id_for_label}}" class = "col-md-5 control-label">password2</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{form.password2}}</div>
		</div>
		<div class="form-group">
			<label for="{{ profile.birth.id_for_label}}" class = "col-md-5 control-label">birth day</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{profile.birth}}</div>
		</div>
		<div class="form-group">
			<label for="{{ profile.phone.id_for_label}}" class = "col-md-5 control-label">cell phone</label>
			<!-- form.username 在get时候为空对象,post时候填充 -->
			<div class="col-md-6 text-left">{{profile.phone}}</div>
		</div>
		
		<!-- Bootstrap的样式 -->
	<input type ="submit" class="btn btn-primary btn-lg" value="注册">
	
	
	</form>



</div>



{% endblock %}