{% extends "article/base.html" %}
{% load static %}
{% block title %}article list{% endblock %}
{% block content %}

<div>
	<table class="table table-hover">
	<tr>
		<td>No.</td>
		<td>Title</td>
		<td>Column</td>
		<td>Manage</td>
	
	</tr>
	{% for article in articles %}
	<tr id={{article.id}}>
		<td>{{forloop.counter}}</td>
		<td><a href="{{ article.get_absolute_url }}">{{article.title}}</a></td>
		<td>{{article.column}}</td>
		<td>
				<a name="edit" href="{% url 'article:article_edit' article.id %}" >
				<span class="glyhpicon glyphicon-pencil"></span>
				</a>
				<a name="delete" href="javascript:" onclick="del_article(this,{{article.id}})">
				<span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
				</a>
		</td>
	</tr>
	{% endfor %}
	</table>
	{% include "paginator.html" %}


</div>
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "js/layer.js" %}'></script>
<script type="text/javascript">


//控件对象和id
function del_article(the,article_id){
	//编辑图标的父类tr,下面第一个td的text 得到name
	var articlename = $(the).parents("tr").children("td").eq(1).text()
	var index=layer.open({
		type:1,
		skin:"layui-layer-rim",
		area:["400px","200px"],
		title: "del column",
		content:'<div class="text-center" style="margin-top:20px"><p>are you sure to delete column "'+articlename+'"</p></div>',
		btn:['OK','cancel'],
		yes:function(index,layero){
			
			//调用ajax异步提交
			$.ajax({
				url:'{% url "article:article_del" %}',
				type:'POST',
				data:{"article_id":article_id},
				success:function(e){
					if(e=='0'){
						parent.location.reload();
						layer.msg(articlename+"is deleted");
					}else{
						//有重复
						layer.msg("delete failed")
					}
				},
			});

		},
		//取消按钮
		btn2:function(index,layero){
			layer.close(index);
		}		
	});	
}
</script>

{% endblock %}