{% extends "base.html" %} <!-- 继承base.html 里面有header footer -->
{% block title %} login {% endblock %} <!-- 填入base中header部分的title块 -->
{% block content %} <!-- 定义block content的内容,在base模板中插入 -->
<div class="row text-center vertical-middle-sm">
<h1>Login</h1>
<p>Input your username and password</p>
<!--  action 使用url pattern中定义 name=user_login,post时使用url -->
<form class="form-horizontal" action="{% url 'account:user_login' %}" method ="post">{% csrf_token %} <!-- cross site request forgery 跨站请求伪造 input type="hidden"  -->
	<!--  {{ form.as_p }}--> <!-- 使用form表单的as_p方法 ,生成一行<p>代码 -->
	<div class = "form-group">
		<label for="{{form.username.id_for_label}}" class="col-md-5 control-lable" style="color:red">
			<span class="glyphicon glyphicon-user"></span>
			Username
		</label>
		<div class="col-md-6 text-left">
			{{form.username}}
		</div>
	</div>
	<div class = "form-group">
		<label for="{{form.password.id_for_label}}" class="col-md-5 control-lable" style="color:blue">
			<span class="glyphicon-floppy-open"></span>
			Password
		</label>
		<div class="col-md-6 text-left">
			{{form.password}}
		</div>
	</div>
	<!-- Bootstrap的样式 -->
	<input type ="submit" class="btn btn-primary btn-lg" value="login">
</form>
</div>

{% endblock %}