{% extends "article/base.html" %} <!-- 继承 -->
{% load static %}
{% block title%}article tag {% endblock %}
{% block content %}
<div>
	
	<p class="text-right"><button class="btn btn-primary" onclick="add_tag();">add tag</button></p>
	<table class="table table-hover">
		<tr>
			<td>No.</td>
			<td>Column Name</td>
			<td>Manage</td>
		</tr>
		{% for tag in articleTags %}<!-- 循环 -->
		<tr>
			<td>{{forloop.counter}}</td> <!-- 自动循环计数 -->
			<td>{{tag.tag}}</td>
			<td>
				<a name="edit" href="javascript:" onclick="edit_tag(this,{{tag.id}})">
				<span class="glyhpicon glyphicon-pencil"></span>
				</a>
				<a name="delete" href="javascript:" onclick="del_tag(this,{{tag.id}})">
				<span class="glyphicon glyphicon-remove" style="margin-left:20px;"></span>
				</a>
			</td>
		</tr>
		{% empty %} <!--  如果for循环变量 columns为空执行下面语句 省略了if判断 -->
		<p>there is no tag </p>
		{% endfor %}

	
	</table>


</div>
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "js/layer.js" %}'></script>
<script type="text/javascript">
function add_tag(){
var index=layer.open({
	type:1,
	skin:"layui-layer-rim",
	area:["400px","200px"],
	title: "add tag",
	content:'<div class="text-center" style="margin-top:20px"><p>input tag name</p><p><input id="id_tag" type="text"></p></div>',
	btn:['OK','cancel'],
	yes:function(index,layero){
		tag_name=$('#id_tag').val();
		//调用ajax异步提交
		$.ajax({
			url:'{% url "article:article_tag" %}',
			type:'POST',
			data:{'tag':tag_name},
			success:function(e){
				if(e=='1'){
					parent.location.reload();
					layer.msg("good");
				}else{
					//有重复
					layer.msg("has a same add name")
				}
			},
		});

	},
	//取消按钮
	btn2:function(index,layero){
		layer.close(index);
	}		
});	
}
//控件对象和id
function del_tag(the,tag_id){
	//编辑图标的父类tr,下面第一个td的text 得到name
	var name = $(the).parents("tr").children("td").eq(1).text()
	var index=layer.open({
		type:1,
		skin:"layui-layer-rim",
		area:["400px","200px"],
		title: "del column",
		content:'<div class="text-center" style="margin-top:20px"><p>are you sure to delete tag "'+name+'"</p></div>',
		btn:['OK','cancel'],
		yes:function(index,layero){
			
			//调用ajax异步提交
			$.ajax({
				url:'{% url "article:del_article_tag" %}',
				type:'POST',
				data:{"tag_id":tag_id},
				success:function(e){
					if(e=='0'){
						parent.location.reload();
						layer.msg(name+"is deleted");
					}else{
						
						layer.msg("delete failed")
					}
				},
			});

		},
		//取消按钮
		btn2:function(index,layero){
			layer.close(index);
		}		
	});	
}
</script>
{% endblock %}